version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - HTTP_SERVER_ADDRESS=${HTTP_SERVER_ADDRESS}
      - BASE_URL=${BASE_URL}
      - DATABASE_DSN=postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: